$font-size: 14px;
$font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

$orange: #ea8400;
$yellow: #eece05;
$green: #04c868;
$cyan: #00ccf0;
$blue: #008fea;
$purple: #9902be;
$red: #de2406;

$grey-darker: #353535;
$grey-dark: #464646;
$grey: #6b6b6b;
$grey-light: #a5a5a5;
$grey-lighter: #dddddd;

$color-dark: #444444;
$color-light: #f5f5f5;

$colors: (
    'primary': $blue,
    'secondary': $cyan,
    'danger': $red,
    'success': $green,
    'warning': $yellow,
    'dark': $grey-dark
);
